<div class="container">
  <h2>Your Inquiries</h2>
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Message</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Inquiry Date</th>
        <th>Admin Response</th>
        <th>Contact Details</th>
      </tr>
    </thead>
    
<tbody>
<tr *ngFor="let inquiry of inquiries">
<td>{{ inquiry.property.title }}</td>
<td>{{ inquiry.message }}</td>
<td>{{ inquiry.priority }}</td>
<td>{{ inquiry.status }}</td>
<td>{{inquiry.inquiryDate}}</td>
<td *ngIf="inquiry.adminResponse">{{ inquiry.adminResponse }}</td>
<td *ngIf="!inquiry.adminResponse">Admin did not respond yet!</td>
<td>{{inquiry.contactDetails}}</td>
</tr>
</tbody>

</table>
</div>



  


