<nav id="admin-nav" class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-white" routerLink="/">EstateConnect</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <!-- Main Navigation Links -->
            <ul class="navbar-nav">
                <li><a class="nav-link text-white" routerLink="/">Home</a></li>
                <li *ngIf="service.isAdmin()"><a class="nav-link text-white" routerLink="/controlpanel">Control Panel</a></li>
                <li *ngIf="service.isAdmin()"><a class="nav-link text-white" routerLink="/admin-add-property">Add Property</a></li>
                <li *ngIf="service.isAdmin()"><a class="nav-link text-white" routerLink="/admin-view-property">View Property</a></li>
                <li *ngIf="service.isAdmin()"><a class="nav-link text-white" routerLink="/inquiries">Inquiries</a></li>
                <li *ngIf="service.isAdmin()"><a class="nav-link text-white" routerLink="/viewfeedback">Feedback</a></li>
                <li *ngIf="service.isUser()"><a class="nav-link text-white" routerLink="/user-view-property">Properties</a></li>
                <li *ngIf="service.isUser()"><a class="nav-link text-white" routerLink="/myinquiries">My Inquiries</a></li>
                <li *ngIf="service.isUser()"><a class="nav-link text-white" routerLink="/addfeedback">Feedback</a></li>
                <li *ngIf="!service.isLoggedUser()"><a class="nav-link text-white" routerLink="/login">Login</a></li>
                <li *ngIf="!service.isLoggedUser()"><a class="nav-link text-white" routerLink="/register">Register</a></li>
                <li *ngIf="service.isLoggedUser()">
                    <button class="btn btn-gradient" (click)="logout()">Logout</button>
                </li>
            </ul>

            <!-- User Info -->
            <ul class="navbar-nav">
                <li class="nav-item" *ngIf="service.isLoggedUser()">
                    <a class="nav-link text-warning">
                        {{ service.getUsername() | titlecase }} / {{ service.getRole() | uppercase }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>