
<nav id="admin-nav">
<div>
<ul>
<li><a routerLink="/">EstateConnect</a></li>
<li><a routerLink="/">Home</a></li>
<li *ngIf="service.isAdmin()"><a routerLink="/controlpanel" >Control Panel</a></li>
<!-- <li><a routerLink="/viewproperties">View Properties</a></li> -->
<li *ngIf="service.isAdmin()"><a routerLink="/admin-add-property" >Add Property</a></li>
<li *ngIf="service.isAdmin()"><a routerLink="/inquiries" >Inquiries</a></li>
<li *ngIf="service.isAdmin()"><a routerLink="/viewfeedback" >Feedback</a></li>
<li *ngIf="service.isUser()"><a routerLink="/viewproperties" >View Properties</a></li>
<li *ngIf="service.isUser()"><a routerLink="/myinquiries" >My Inquiries</a></li>
<li *ngIf="service.isUser()"><a routerLink="/addfeedback">Feedback</a></li>
<li *ngIf="!service.isLoggedUser()"><a routerLink="/login" >Login</a></li>
<li *ngIf="!service.isLoggedUser()"><a routerLink="/register" >Register</a></li>
<button (click) = "logout()" *ngIf="service.isLoggedUser()">Logout</button>
</ul>
</div>
</nav>
    