<form
  class="container p-4 border rounded bg-black text-light shadow-sm"
  [formGroup]="inquiryForm"
  (ngSubmit)="addInquiry()"
>
  <div class="mb-3">
    <label for="message" class="form-label text-warning">Message:</label>
    <input
      id="message"
      type="text"
      formControlName="message"
      class="form-control bg-dark text-light border-warning"
      required
    />
    <div
      class="text-danger mt-1"
      *ngIf="
        inquiryForm.get('message')?.invalid &&
        inquiryForm.get('message')?.touched
      "
    >
      Message is required.
    </div>
  </div>

  <div class="mb-3">
    <label for="priority" class="form-label text-warning">Priority:</label>
    <select
      id="priority"
      formControlName="priority"
      name="priority"
      class="form-select bg-dark text-light border-warning"
    >
      <option selected disabled>Select Priority</option>
      <option value="High">High</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
    </select>
  </div>

  <button
    type="submit"
    class="btn btn-warning text-dark fw-bold"
    [disabled]="inquiryForm.invalid"
  >
    Submit
  </button>
</form>